src/main/mule/main-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
		<configuration-properties doc:name="Configuration properties" doc:id="90fadaae-1a2d-4c4d-b43b-bf5e7ce53d06" file="conf/local.yaml" />
	<db:config name="Postgres_ESB_Config" doc:name="Database Config" doc:id="b07a287a-3cbe-4155-b061-2a78812802b3" >
		<db:generic-connection url="${middleware.postgres.esb.url}" driverClassName="org.postgresql.Driver" user="${middleware.postgres.esb.username}" password="${middleware.postgres.esb.password}" />
	</db:config>
	<db:config name="Postgres_MSG_Config" doc:name="Database Config" doc:id="dc2e1369-4f63-4ab7-a865-9cd94883c26d" >
		<db:generic-connection driverClassName="org.postgresql.Driver" url='${middleware.postgres.msg.url}' user="${middleware.postgres.msg.username}" password="${middleware.postgres.msg.password}"/>
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="116c0da3-347e-41e1-9a89-a8e13523f8ae" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<global-property doc:name="Global Property" doc:id="d70777d0-e74b-40b6-a7f2-f581be3090e3" name="messageLimit" value="3" />
	<flow name="mainFlow" doc:id="e8072b4a-338e-4c62-916e-dcd2d86259d1" >
		<scheduler doc:name="Scheduler" doc:id="d8cd38aa-5e8e-4839-8b87-e33493b889d6" >
			<scheduling-strategy >
				<fixed-frequency frequency="${middleware.scheduler.frequency}" startDelay="${middleware.scheduler.startDelay}"/>
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="Get Last Processed ID" doc:id="24d0f73d-0f73-49b3-8fb8-ad10638770a2" name="getLastIdSubFlow"/>
		<logger level="INFO" doc:name="[INFO] Received Last ID" doc:id="ac2245e7-42e8-4876-bf90-ed1fe106da7c" message="Received last ID: #[payload]" />
		<set-variable value="#[payload]" doc:name="Store Last Processed ID" doc:id="d89e074c-2cd4-43f4-9961-22265390ebec" variableName="lastProcessedId"/>
		<set-payload value="#[vars.lastProcessedId default 0]" doc:name="Put Last ID to Payload" doc:id="24fcb88a-2a46-44f2-aa34-9fe3f998c2ea" />
		<flow-ref doc:name="Process Messages" doc:id="7235efba-b4fe-4ac5-9f3f-cb38b7776340" name="processMessagesSubFlow"/>
		<choice doc:name="Check and Update Last ID" doc:id="c688fbc7-2a34-4f71-a087-3c4fec71e057" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Transform Message" doc:id="6c9f9143-cc2e-4c3b-a687-93802bc6d86c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"lastProcessedId": vars.lastProcessedId,
	"messageId": payload[-1].'msg-id'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<flow-ref doc:name="Update Last Processed ID" doc:id="c71b505f-12f1-47d1-9625-2a25423e70bb" name="updateLastProcessedIdSubFlow" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="[INFO] No Messages" doc:id="1771b54a-5363-4275-b789-87ee76a7544a" message="There are no messages with ID greater than #[vars.lastProcessedId]"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b9e6c1ed-d655-4c9d-8fa8-41a80e57c78a" >
				<flow-ref doc:name="Handle Error" doc:id="04e89550-a1af-47d8-b340-aed35163623f" name="errorSubFlow"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
