src/main/mule/mock-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="mockServerFlow" doc:id="15f2b3fe-a0a2-48be-8975-db0292c2494d" >
		<http:listener doc:name="Listener" doc:id="15e5e9c0-1fdd-4cb8-a47b-ce204fa8b76d" config-ref="HTTP_Listener_config" path="/test" />
		<logger level="INFO" doc:name="[INFO] Received Data" doc:id="94a392b8-329c-4e8d-b820-97801f7c9cb1" message="[MOCK_SERVER] Received data: #[payload]" />
	</flow>
</mule>
